@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: linear-gradient(152deg, #2c026f 50%, #e1daeb 50%);
  font-family: Arial, sans-serif;
  display: flex;
  
  justify-content: center;
}

.card {
  transition: transform 3s ease;
}

.card:hover {
  transform: rotate(360deg);
}


@media screen and (max-width:746px){
  body{
    background: linear-gradient(110deg, #2c026f 50%, #e1daeb 50%);
  }
  
}